<svg width="790" height="964" viewBox="0 0 790 964" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g opacity="0.9">
        <g opacity="0.2" filter="url(#filter0_f_14_119)">
            <circle cx="381" cy="733.002" r="166" transform="rotate(-90 381 733.002)" fill="#2D95F0" />
        </g>
        <g opacity="0.5" filter="url(#filter1_f_14_119)">
            <ellipse cx="322.5" cy="517.501" rx="182.5" ry="182.5" transform="rotate(-90 322.5 517.501)"
                fill="#FEB9B9" />
        </g>
        <g opacity="0.4" filter="url(#filter2_f_14_119)">
            <ellipse cx="376" cy="243" rx="178" ry="178" transform="rotate(-90 376 243)" fill="#FCDA97" />
        </g>
    </g>
    <circle cx="417.953" cy="474.051" r="78.4667" stroke="white" stroke-width="2" />
    <circle opacity="0.7" cx="417.951" cy="474.05" r="165.158" stroke="white" stroke-width="2" />
    <circle opacity="0.4" cx="417.95" cy="474.051" r="266.297" stroke="white" stroke-width="2" />
    <circle opacity="0.2" cx="417.5" cy="474.502" r="371.5" stroke="white" stroke-width="2" />
    <defs>
        <filter id="filter0_f_14_119" x="75" y="427.002" width="612" height="612" filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
            <feGaussianBlur stdDeviation="70" result="effect1_foregroundBlur_14_119" />
        </filter>
        <filter id="filter1_f_14_119" x="0" y="195.001" width="645" height="645" filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
            <feGaussianBlur stdDeviation="70" result="effect1_foregroundBlur_14_119" />
        </filter>
        <filter id="filter2_f_14_119" x="58" y="-75" width="636" height="636" filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
            <feGaussianBlur stdDeviation="70" result="effect1_foregroundBlur_14_119" />
        </filter>
    </defs>
</svg>